{% extends 'base.html' %}
{% block content %}
    <!-- Services Start -->
    <div class="container-fluid service py-5">
        <div class="container py-5">
            <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
                <h1 class="display-5 text-capitalize mb-3">Nos <span class="text-primary">Services</span></h1>
                <p class="mb-0">Explorez nos services et laissez-nous transformer vos idées en réalité, avec des solutions sur mesure pour chaque projet de construction
                </p>
            </div>
            <div class="row g-4">
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item p-4">
                        <div class="service-icon mb-4">
                            <i class="fa fa-building fa-2x"></i>
                        </div>
                        <h5 class="mb-3">Construction des Batiments</h5>
                        <p class="mb-0">Élaboration de plans personnalisés selon les besoins et le style de vie des clients.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item p-4">
                        <div class="service-icon mb-4">
                            <i class="fa fa-money-bill-alt fa-2x"></i>
                        </div>
                        <h5 class="mb-3">Aménagement des villes</h5>
                        <p class="mb-0">Prise en charge de l'ensemble du processus de construction, de la fondation à la finition.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item p-4">
                        <div class="service-icon mb-4">
                            <i class="fa fa-road fa-2x"></i>
                        </div>
                        <h5 class="mb-3">Etude Architecturale </h5>
                        <p class="mb-0"> Analyser l'architecture existante, identifier les potentialités spatiales et proposer des solutions innovantes d'aménagement urbain.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item p-4">
                        <div class="service-icon mb-4">
                            <i class="fa fa-umbrella fa-2x"></i>
                        </div>
                        <h5 class="mb-3">Etude d'Urbanisme</h5>
                        <p class="mb-0">Étudier et planifier l'aménagement urbain pour améliorer la qualité de vie, l'environnement et le développement harmonieux du territoire.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item p-4">
                        <div class="service-icon mb-4">
                            <i class="fa fa-building fa-2x"></i>
                        </div>
                        <h5 class="mb-3">Ingénierie & Topographie </h5>
                        <p class="mb-0">Concevoir et implémenter des solutions techniques précises pour mesurer, cartographier et analyser les caractéristiques topographiques du territoire.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item p-4">
                        <div class="service-icon mb-4">
                            <i class="fa fa-car-alt fa-2x"></i>
                        </div>
                        <h5 class="mb-3">Vente et Location des matériaux de Construction </h5>
                        <p class="mb-0">Proposer des solutions de location et vente flexibles, adaptées aux besoins variés des professionnels du bâtiment, avec un service client optimal.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item p-4">
                        <div class="service-icon mb-4">
                            <i class="fa fa-car-alt fa-2x"></i>
                        </div>
                        <h5 class="mb-3">Gestion immobiliere </h5>
                        <p class="mb-0">Optimiser la gestion locative, maximiser les revenus, minimiser les risques et assurer la valorisation du patrimoine immobilier.</p>
                    </div>
                </div>
                    <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item p-4">
                            <div class="service-icon mb-4">
                                <i class="fa fa-car-alt fa-2x"></i>
                            </div>
                            <h5 class="mb-3">Formation BTP </h5>
                            <p class="mb-0">Développer des compétences techniques et sécuritaires pour professionnaliser et valoriser les talents dans le secteur du bâtiment et travaux publics.</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- Services End -->
    {% endblock content %}